PAYMENT_SERVICE_URL=http://localhost:8081
INVENTORY_SERVICE_URL=http://localhost:8082
ORDER_SERVICE_URL=http://localhost:8083
DATABASE_URL=postgresql+asyncpg://usuario:senha@localhost:5432/checkout_db

APP_HOST=0.0.0.0
APP_PORT=8085
